# Secrets
.env

# Python
.venv/
.pytest_cache/
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Repositories
.dataset/

# output and logs
target/
.work/
mutator/openrewrite/src/main/java/adrift/mutator/generated/
logs/
